.banner {
    background-image: url(assets/images/banner.png);
text-align: center;
}

.banner .banner-content {
    text-align: center;
    height: 95%;
    width: 95%;
    background: rgba(0, 0, 0, 0.3);
    margin-left: 0;
}

body {
    background-image: url(assets/images/woman-code.png);
    background-color: black;
    opacity: 75;
    background-repeat: no-repeat;
    size: 100%;
}

.logo {
    padding: 2%;
}

.texto1 {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo1 {
    color: aliceblue;
    font-family: new 'Courier New', Courier, monospace;
}

#course-content {
    text-align: center;
    color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modules-list .module {
    font-size: 25px;
}

#transform-world {
    font-size: 45px;
    text-align: center;
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#professional-challenges {
    text-align: center;
    color: aliceblue;
}

footer {
    text-align: center;
    color: aliceblue;
}